@charset "uft-8";

body {
  margin: 0;
  align-content: center;
  font-size: 16px;
  overflow-x: hidden;
}

.mobile-menu {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  position: absolute;
  background-color: #761a1a;
  left: 0;
  right: 0;
  top: 3.5rem;
  transform: translateY(0);
  border-top: 1px solid #fffdcc;
  border-bottom: 1px solid #fffdcc;
}

.mobile-btn {
  background-color: transparent;
  border: none;
}

.navbar .nav-closed {
  transform: translateY(-120%);
}

.mobile-menu li {
  padding: 1rem 0;
  margin: 1rem 0;
  border-bottom: 1px solid #fffdcc;
}

.mobile-menu li a {
  color: #fffdcc;
  font-size: 2rem;
}

.fs-menu {
  display: none;
  margin-right: 1rem;
}

.fs-menu li a {
  color: #fffdcc;
  padding: 0.25rem 0rem;
  margin: 0rem 0.5rem;
  border-bottom: #761a1a solid 2px;
  transition: ease-out 0.3s;
}

.fs-menu li a:hover {
  border-bottom: #fffdcc solid 2px;
  border-radius: 1px;
  transition: ease-in 0.3s;
}

.main-container {
  display: inline;
  overflow: hidden;
}

header {
  background-color: #761a1a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3.5rem;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  max-width: 1440px;
  border-bottom: 1px solid #fffdcc;
}

.hsr-header-logo {
  height: 3.5rem;
  width: auto;
  margin-left: 1rem;
}

i {
  color: #fffdcc;
  margin-right: 1rem;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

li {
  color: #761a1a;
  padding: 0.25rem 0.5rem;
  font-family: "Cinzel Decorative", sans-serif;
  font-weight: bold;
}

li a {
  color: #761a1a;
  text-decoration: none;
}

.hero-container {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url(./images/wood-1188082_1920.jpg);
  height: 731px;
  margin: 3rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-logo-h1-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

/* custom media to center hero content */

@media (min-width: 375px) {
  .hero-logo-h1-container {
    margin-left: 10vw;
  }
}

@media (min-width: 414px) {
  .hero-logo-h1-container {
    margin-left: 15vw;
  }
}

.hsr-hero-logo {
  height: 7rem;
  width: auto;
  margin-top: 6rem;
}

h1 {
  font-family: "Cinzel Decorative", sans-serif;
  font-size: 2.5rem;
  color: #5cff23;
  margin-top: 6rem;
  margin-left: 1.2rem;
  overflow: hidden;
}

.hero-h2 {
  font-family: "Cinzel Decorative", sans-serif;
  color: #fffdcc;
  text-align: center;
}

.hero-tall-grass-partition {
  overflow: hidden;
  margin-top: -20rem;
}

.about {
  margin-top: -10rem;
  margin-bottom: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-90vw {
  width: 90vw;
  max-width: 1024px;
}

.about-img {
  width: 90vw;
  max-width: 1024px;
  height: auto;
}

h2 {
  font-family: "Cinzel Decorative", sans-serif;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #761a1a;
  padding-bottom: 5rem;
  margin-bottom: 18rem;
}

.services-img {
  width: 90vw;
  max-width: 1024px;
  height: auto;
  margin-top: -6rem;
}

.card-container {
  width: 90vw;
}

.card-img {
  display: none;
}

.light-color-text {
  color: #fffdcc;
}

h3 {
  font-family: "Cinzel Decorative", sans-serif;
}

p {
  font-family: "Noto Sans", sans-serif;
}

.sponsor-tall-grass-partition {
  overflow: hidden;
  margin-bottom: -40rem;
}

.media {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.media-img {
  width: 100%;
  height: auto;
  max-width: 600px;
}

.media-card-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 1rem;
}

.sponsors {
  background-color: #fffdcc;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-bottom: 5rem;
}

.sponsor-grid-container {
  display: flex;
  justify-content: center;
}

.sponsor-grid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2rem;
}

.sponsor-logo {
  width: 150px;
  height: auto;
}

.wildhub-logo {
  margin-top: 3rem;
}

.texashogbait-logo {
  margin-top: -5.5rem;
}

.mortalis-logo {
  margin-top: 2rem;
}

.highcaliber-logo {
  margin-top: -4rem;
}

.btknives-logo {
  margin-top: 2rem;
  border-radius: 50%;
}

.sureshot-logo {
  margin-top: -4rem;
}

.sponsor-p {
  margin-top: 4rem;
}

footer {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.footer-logo {
  background-color: #761a1a;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin-top: -6rem;
}

.footer-logo-img {
  width: 4rem;
  height: 4rem;
  margin-top: 0.4rem;
}

.footer-name {
  font-family: "Cinzel Decorative", sans-serif;
  font-size: 1.75rem;
  color: #761a1a;
}

.footer-nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.footer-nav li {
  color: #761a1a;
  padding: 0.25rem 0.5rem;
  font-family: "Cinzel Decorative", sans-serif;
  font-weight: bold;
}

.footer-nav li a {
  color: #761a1a;
  text-decoration: none;
}

.footer-icon {
  color: #761a1a;
  padding: 0.5rem;
  margin: 0;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pad {
  padding-inline-start: 0;
}

.pad li a {
  font-size: 1.25rem;
}

.to-top-container {
  padding-top: 1rem;
}

.to-top-icon i {
  color: #761a1a;
  margin: 0;
}

.to-top-link {
  text-decoration: none;
  color: #761a1a;
  font-family: "Cinzel Decorative", sans-serif;
  font-weight: bold;
}

.built-by {
  margin-top: 6rem;
  font-size: 0.8rem;
}

.built-by-link {
  color: #000;
  text-decoration: none;
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .mobile-btn {
    display: none;
  }

  .fs-menu {
    display: flex;
    flex-direction: row;
  }

  .fs-menu li {
    padding: 0.5rem;
  }

  .hero-container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
      url(./images/wood-1188082_1920.jpg);
  }

  .hero-logo-h1-container {
    flex-direction: column-reverse;
    margin: 0;
  }

  .hsr-hero-logo {
    margin: 0;
    height: 9rem;
  }

  h1 {
    margin: 5rem 0 0 0;
    font-size: 4rem;
  }

  .about-flex {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .about-img {
    width: 40vw;
  }

  .about-h2-p {
    margin-top: 2rem;
    width: 40vw;
  }

  .footer-logo-name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .media {
    background: linear-gradient(#fff 0%, #fff 70%, #fffdcc 70%, #fffdcc 100%);
  }

  .sponsors {
    padding-top: 4rem;
    margin-top: 0;
  }

  .sponsor-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .sponsor-info {
    width: 332px;
  }
}

@media (min-width: 1024px) {
  .media {
    background: linear-gradient(#fff 0%, #fff 50%, #fffdcc 50%, #fffdcc 100%);
  }

  .fs-menu li {
    padding: 1rem;
  }

  .services-img {
    display: none;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -3.5rem;
    width: 90vw;
    max-width: 1200px;
  }

  .card-img {
    display: inline;
    width: 25vw;
  }

  .flex-card {
    width: 25vw;
  }

  .sponsor-grid {
    column-gap: 3rem;
  }

  .sponsor-logo {
    width: 200px;
  }
}

@media (min-width: 1440px) {
  .media {
    background: linear-gradient(#fff 0%, #fff 40%, #fffdcc 40%, #fffdcc 100%);
  }

  body {
    display: flex;
    justify-content: center;
  }

  .body-container {
    width: 1440px;
  }

  .container-90vw {
    max-width: 1200px;
  }

  .about-flex {
    justify-content: space-between;
  }

  .about-img {
    width: 40vw;
  }

  .about-h2-p {
    width: 40vw;
  }
}

@media (min-width: 2560px) {
  .container-90vw {
    max-width: 1400px;
  }

  .card-container {
    max-width: 1400px;
  }

  .about-flex {
    justify-content: space-around;
  }

  .about-img {
    width: 25vw;
  }

  .about-h2-p {
    width: 25vw;
  }

  .flex-card {
    width: 17.5vw;
  }

  .card-img {
    width: 17.5vw;
  }

  .media-img {
    max-width: none;
  }
}
